* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}

header {
    background-color: #0C307C;    ;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h2 {
    color: #0C307C;
}

.program {
    background: #e3f2fd;
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid#0C307C;
    border-radius: 5px;
}